[Desktop Entry]
Version=0.17.6
Name=RayChain Testnet
Comment=Connect to the Xray P2P Network Testnet
Exec=xray-qt -testnet %u
Terminal=false
Type=Application
Icon=xraytestnet128
MimeType=x-scheme-handler/xray;
Categories=Network;
StartupWMClass=Xray-qt-testnet
Name[en_US]=xray-qt-testnet
